{% include 'userheader.html' %}
<center>
    <div class="img-div">

    
    <h1 class="hd">Upload Images</h1>
    <form action="" method="post" class="form" style="width: 50%;" enctype="multipart/form-data">
        <table class="table form-group">
            <tr>
                <th>Upload</th>
                <td><input type="file" class="form-control" required name="imgg" id=""></td>
            </tr>

            <tr>
                <th>Type</th>

                <td>
                    <input type="radio" name="type" value="image">Image</td>
            </tr>
            
            <tr>
               
                <td colspan="2" align="center"><input type="submit" class="btn btn-success" name="btn" id=""></td>
            </tr>
            </table>
            </form>

 
</div>
    <br><br>
 
 



{% include 'footer.html' %}