{% include 'adminheader.html' %}

<center>
    <div class="img-div"></div>
    <h3>View Subscription</h3>

    <table class="table table-striped tbl-new bg-light shadow" >
        <tr>
            <th> Subscription</th>
           
            <th>Amount</th>
            <th>Date</th>
            <th>Status</th>
           

        </tr>
        {% for row in data['sub'] %}
        <tr>
            <td>{{ row['subscription'] }}</td>
            <td>{{ row['amount'] }}</td>
            <td>{{ row['date'] }}</td>
            <td>{{ row['status'] }}</td>


       
          
           
           
        </tr>
        {% endfor %}
    </table>
</center>

{% include 'footer.html' %}